.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_1 {
    display: block;
    height: 1em
    }
.calibre_2 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_3 {
    display: list-item;
    margin-top: 0;
    text-indent: 0
    }
.calibre_4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 9em 0 0 2em
    }
.calibre_5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 12pt 0 0
    }
.calibre_6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_7 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_8 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.calibre_9 {
    height: 1327px;
    vertical-align: baseline;
    width: 1043px
    }
.calibre_10 {
    height: 1500px;
    vertical-align: baseline;
    width: 1178px
    }
.calibre_11 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_12 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 3em 0 0
    }
.calibre_13 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_14 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 7pt 0 0
    }
.calibre_15 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0 2em
    }
.calibre_16 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 8pt 0 0 2em
    }
.calibre_17 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_18 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_19 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_20 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 0
    }
.calibre_21 {
    height: 67px;
    vertical-align: baseline;
    width: 67px
    }
.calibre_22 {
    height: 1394px;
    vertical-align: baseline;
    width: 929px
    }
.calibre_23 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 7pt 0 0 2em
    }
.calibre_24 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 2em 0 0 2em
    }
.calibre_25 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 8pt 0 0 2em
    }
.calibre_26 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 3em 0 0
    }
.calibre_27 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_28 {
    height: 743px;
    vertical-align: baseline;
    width: 887px
    }
.calibre_29 {
    height: 368px;
    vertical-align: baseline;
    width: 936px
    }
.calibre_30 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 0
    }
.calibre_31 {
    height: 483px;
    vertical-align: baseline;
    width: 1316px
    }
.calibre_32 {
    height: 67px;
    vertical-align: baseline;
    width: 134px
    }
.calibre_33 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre_34 {
    display: table-row;
    text-align: center;
    vertical-align: middle
    }
.calibre_35 {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    padding: 1px
    }
.calibre_36 {
    height: 667px;
    vertical-align: baseline;
    width: 443px
    }
.calibre_37 {
    height: 883px;
    vertical-align: baseline;
    width: 1062px
    }
.calibre_38 {
    height: 1592px;
    vertical-align: baseline;
    width: 1062px
    }
.calibre_39 {
    height: 67px;
    vertical-align: baseline;
    width: 256px
    }
.calibre_40 {
    height: 555px;
    vertical-align: baseline;
    width: 938px
    }
.calibre_41 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 3em 0 0 2em
    }
.calibre_42 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 7pt 0 0
    }
.calibre_43 {
    height: 175px;
    vertical-align: baseline;
    width: 182px
    }
.calibre_44 {
    height: 612px;
    vertical-align: baseline;
    width: 1106px
    }
.calibre_45 {
    height: 642px;
    vertical-align: baseline;
    width: 1330px
    }
.calibre_46 {
    height: 811px;
    vertical-align: baseline;
    width: 1190px
    }
.calibre_47 {
    height: 58px;
    vertical-align: baseline;
    width: 58px
    }
.calibre_48 {
    height: 625px;
    vertical-align: baseline;
    width: 971px
    }
.calibre_49 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 8pt 0 0 2em
    }
.calibre_50 {
    height: 638px;
    vertical-align: baseline;
    width: 1183px
    }
.calibre_51 {
    height: 923px;
    vertical-align: baseline;
    width: 1047px
    }
.calibre_52 {
    height: 1529px;
    vertical-align: baseline;
    width: 1118px
    }
.calibre_53 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 3em 0 0
    }
.calibre_54 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_55 {
    height: 241px;
    vertical-align: baseline;
    width: 400px
    }
.calibre_56 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre_57 {
    display: table-row;
    text-align: left;
    vertical-align: middle
    }
.calibre_58 {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding: 1px
    }
.calibre_59 {
    height: 400px;
    vertical-align: baseline;
    width: 400px
    }
.calibre_60 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_61 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 12pt 0 0
    }
.calibre_62 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre_63 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 0.75em
    }
.calibre5 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre6 {
    font-size: 0.77778em
    }
.calibre7 {
    font-size: 0.71429em
    }
.calibre8 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre9 {
    font-size: 0.41667em
    }
.calibre10 {
    font-size: 0.66667em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    font-size: 1.92857em;
    line-height: 1.2
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
